*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}
.navbarCustom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;

}
.navbarCustom button{
  padding: 5px;
  margin: 0px 10px;
}
.error, #loginAfter{
  color: red;
}
.formView{
  width: 30%;
  margin: 10px auto;
  background-color: antiquewhite;
  border-radius: 20px;
}
.field{
  text-align: left;
  padding: 5px 10px;
  /* margin: 10px; */
}
.field input{
  width: 100%;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid gainsboro;
}
.buttonBlue{
  margin: 10px;
  padding: 10px 30px;
  background-color: rgb(187, 187, 251);
  color: black;
  border-radius: 20px;
  cursor: pointer;
}
.tile{
  display: flex;
}
.grid{
  display: grid;
  grid-template-columns: repeat(11, auto);
  gap: 4px;
  margin: 8px 4px;
}
.grid div{
  border: 1px solid black;
  padding: 2px 10px;
}
#traineeHead, #schemeHead{
  background-color: black;
  color: white;
}
.admin{
  background-color: rgb(243, 245, 243);
}
.admin div{
  width: 400px;
  margin: 10px auto;
  padding: 30px;
  background-color: rgb(225, 225, 248);
  border-radius: 20px;
}
.tableContainer{
  margin: auto;
  width: 700px;
}
#loginHead{
  background-color: rgb(0, 0, 50);
  color: antiquewhite;
  margin-bottom: 40px;
  padding: 30px;
  opacity: 0.8;
}