*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}
#navbar{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 10px;

}
#navbar button{
  padding: 5px;
  margin: 0px 10px;
}
.error, #loginAfter{
  color: red;
}
form{
  width: 30%;
  margin: 10px auto;
  background-color: antiquewhite;
  border-radius: 20px;
}
.field{
  text-align: left;
  padding: 5px 10px;
  /* margin: 10px; */
}
.field input{
  width: 100%;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid gainsboro;
}
.buttonBlue{
  margin: 10px;
  padding: 10px 30px;
  background-color: rgb(187, 187, 251);
  color: black;
  border-radius: 10px;
}
.tile{
  display: flex;
}
.grid{
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 4px;
  margin: 8px 4px;
}
.grid div{
  border: 1px solid black;
}
#traineeHead{
  background-color: black;
  color: white;
}